<?xml version="1.0" encoding="utf-8"?>
<Simba>
  <Extensions>
    <ExtensionCount>8</ExtensionCount>
    <Extension3>
      <Settings>
        <Extensions_Visible>false</Extensions_Visible>
        <Extensions_OverrideUpdate>false</Extensions_OverrideUpdate>
        <Extensions_Update>true</Extensions_Update>
        <Extensions_CheckforUpdates>true</Extensions_CheckforUpdates>
        <Extensions_TimerInterval>3600000</Extensions_TimerInterval>
        <Extensions_Version>11</Extensions_Version>
      </Settings>
      <Path>C:\Simba\Extensions\extension.sex</Path>
      <Enabled>True</Enabled>
    </Extension3>
    <Extension0>
      <Path>C:\Simba\Extensions\associate.sex</Path>
      <Enabled>False</Enabled>
    </Extension0>
    <Extension1>
      <Path>C:\Simba\Extensions\CRov.sex</Path>
      <Enabled>False</Enabled>
    </Extension1>
    <Extension2>
      <Path>C:\Simba\Extensions\dtm_editor.sex</Path>
      <Enabled>False</Enabled>
    </Extension2>
    <Extension4>
      <Path>C:\Simba\Extensions\formatter.sex</Path>
      <Enabled>False</Enabled>
    </Extension4>
    <Extension5>
      <Path>C:\Simba\Extensions\paster.sex</Path>
      <Enabled>False</Enabled>
    </Extension5>
    <Extension6>
      <Path>C:\Simba\Extensions\security.sex</Path>
      <Enabled>False</Enabled>
    </Extension6>
    <Extension7>
      <Path>C:\Simba\Extensions\srl.sex</Path>
      <Enabled>False</Enabled>
    </Extension7>
  </Extensions>
  <Settings>
    <ShowBalloonHints>True</ShowBalloonHints>
    <Includes>
      <Path>C:\Simba\Includes\</Path>
    </Includes>
    <Fonts>
      <Path>C:\Simba\Fonts\</Path>
      <LoadOnStartUp>True</LoadOnStartUp>
      <Version>16</Version>
      <VersionLink>http://simba.villavu.com/bin/Fonts/Version</VersionLink>
      <UpdateLink>http://simba.villavu.com/bin/Fonts/Fonts.tar.bz2</UpdateLink>
      <CheckForUpdates>True</CheckForUpdates>
    </Fonts>
    <Extensions>
      <Path>C:\Simba\Extensions\</Path>
      <FileExtension>sex</FileExtension>
    </Extensions>
    <Scripts>
      <Path>C:\Simba\Scripts\</Path>
    </Scripts>
    <CodeInsight>
      <ShowHidden>False</ShowHidden>
      <FunctionList>
        <ShowOnStart>True</ShowOnStart>
      </FunctionList>
      <CodeHints>
        <ShowAutomatically>True</ShowAutomatically>
      </CodeHints>
      <CodeCompletion>
        <ShowAutomatically>True</ShowAutomatically>
      </CodeCompletion>
    </CodeInsight>
    <Tray>
      <AlwaysVisible>True</AlwaysVisible>
    </Tray>
    <Interpreter>
      <Type>1</Type>
      <AllowSysCalls>False</AllowSysCalls>
    </Interpreter>
    <SourceEditor>
      <DefScriptPath>C:\Simba\default.simba</DefScriptPath>
      <LazColors>True</LazColors>
      <Font>
        <Name>Courier New</Name>
        <Size>10</Size>
        <Color>536870912</Color>
        <Styles></Styles>
        <CharSet>0</CharSet>
        <Quality>2</Quality>
        <Pitch>2</Pitch>
      </Font>
      <CaretPastEOL>True</CaretPastEOL>
    </SourceEditor>
    <News>
      <URL>http://simba.villavu.com/bin/news</URL>
    </News>
    <Plugins>
      <Path>C:\Simba\Plugins\</Path>
    </Plugins>
    <Tabs>
      <OpenNextOnClose>False</OpenNextOnClose>
      <OpenScriptInNewTab>True</OpenScriptInNewTab>
      <CheckTabsBeforeOpen>True</CheckTabsBeforeOpen>
    </Tabs>
    <General>
      <MaxRecentFiles>10</MaxRecentFiles>
    </General>
    <Updater>
      <CheckForUpdates>True</CheckForUpdates>
      <AutomaticallyUpdate>True</AutomaticallyUpdate>
      <RemoteVersionLink>http://simba.villavu.com/bin/Windows/x86/Stable/Version</RemoteVersionLink>
      <RemoteLink>http://simba.villavu.com/bin/Windows/x86/Stable/Simba.exe</RemoteLink>
      <CheckEveryXMinutes>30</CheckEveryXMinutes>
    </Updater>
    <ColourPicker>
      <AddToHistoryOnPick>True</AddToHistoryOnPick>
      <ShowHistoryOnPick>True</ShowHistoryOnPick>
      <AddCoordinateToClipBoard>False</AddCoordinateToClipBoard>
      <AddColourToClipBoard>False</AddColourToClipBoard>
    </ColourPicker>
    <Notes>
      <Content>FQAAAHic88svSS1WCE5NLsnMz1PQVXAqSvRWBABR+Abt</Content>
      <Visible>False</Visible>
    </Notes>
    <MainForm>
      <NormalSize>739:555</NormalSize>
    </MainForm>
    <Misc>
      <RestartScriptIfStarted>False</RestartScriptIfStarted>
      <WarnIfRunning>True</WarnIfRunning>
      <WarnIfModified>True</WarnIfModified>
    </Misc>
  </Settings>
  <ScriptManager>
    <URL>http://127.0.0.1/</URL>
    <Path>C:\Simba\Scripts\ScriptStorage.xml</Path>
    <File>ScriptManager.xml</File>
    <FirstRun>True</FirstRun>
  </ScriptManager>
  <LastConfig>
    <MainForm>
      <Position>180:76:660:623</Position>
      <State>normal</State>
      <FunctionListShown>True</FunctionListShown>
      <RecentFiles>
        <Count>3</Count>
        <File0>C:\Simba\Scripts\fletching.Simba</File0>
        <File1>C:\Simba\Includes\AeroLib\entities\player\WorldHandler.simba</File1>
        <File2>C:\Simba\Scripts\Nixes F2P AIO Powerfisher.Simba</File2>
      </RecentFiles>
    </MainForm>
    <Console>
      <Visible>False</Visible>
    </Console>
  </LastConfig>
</Simba>
